<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>

    <body>
        <main>
            <div>
                <h1>My Tasks</h1>

                <p>
                    <a href="{% url 'create_task' %}">Create a new task</a>
                </p>


                {% if Tasks %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Start date</th>
                                <th>End date</th>
                                <th>Is completed</th>

                            </tr>
                        </thead>
                        <tbody>
                            {% for Task in Tasks %}
                                <tr>
                                    <td>{{ Task.name }}</td>
                                    <td>{{ Task.start_date }}</td>
                                    <td>{{ Task.due_date }}</td>
                                    <td>{{ Task.is_completed }}</td>
                                </tr>
                            {% endfor %}

                        </tbody>
                    </table>
                {% else %}

                    <p>You have no tasks</p>

                {% endif %}

            </div>

        </main>


    </body>



</html>