<!DOCTYPE html>
<html lang="en">


    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Document</title>
    </head>
    {% load markdownify %}

    <body>
        <main>
            <div>
                <h1>
                    {{ Project.name }}
                </h1>
                {{ project.description|markdownify }}
                <h2>
                    Tasks
                </h2>

                <p>
                    <a href="{% url 'create_task' %}">Create a new project</a>
                </p>

                {% if Project.tasks.all %}
                    <table>
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Assignee</th>
                                <th>Start date</th>
                                <th>Due date</th>
                                <th>Is completed</th>
                            </tr>
                        </thead>
                        <tbody>

                            {% for task in Project.tasks.all %}
                                <tr>
                                    <td>{{ task.name }}</td>
                                    <td>{{ task.assignee }}</td>
                                    <td>{{ task.start_date }}</td>
                                    <td>{{ task.due_date }}</td>
                                    <td>{{ task.is_completed|yesno }}</td>


                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>

                {% else %}
                    <p>This project has no tasks</p>

                {% endif %}

            </div>

        </main>


    </body>

</html>